{{!-- Template utilisé pour les traits, voies, arts et domaines --}}
<div class="item-header flexrow">
  <div class="item-image">
    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
  </div>
  <h4 class="item-name">{{item.name}}</h4>
  
  {{#if item.system.tags}}
  <div class="item-tags">
    {{#each item.system.tags}}
    <span class="tag">{{this}}</span>
    {{/each}}
  </div>
  {{/if}}

  <div class="item-controls">
    <a class="item-control item-toggle" title="{{#if expanded}}{{localize 'Collapse'}}{{else}}{{localize 'Expand'}}{{/if}}">
      <i class="fas {{#if expanded}}fa-chevron-up{{else}}fa-chevron-down{{/if}}"></i>
    </a>
    <a class="item-control item-edit" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
    <a class="item-control item-delete" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></a>
  </div>
</div>

{{#if item.system.acquisition}}
<div class="item-costs flexrow">
  {{#if item.system.acquisition.xpCost}}
  <span class="cost">
    <i class="fas fa-brain"></i>
    {{item.system.acquisition.xpCost}} {{localize "MYRIAD_SYSTEM.Acquisition.xpCost"}}
  </span>
  {{/if}}
  
  {{#if item.system.acquisition.price.value}}
  <span class="cost">
    <i class="fas fa-coins"></i>
    {{item.system.acquisition.price.value}} 
    {{#if item.system.acquisition.price.currency}}
      {{#ifequal item.system.acquisition.price.currency "po"}}
        {{localize "MYRIAD_SYSTEM.Acquisition.currencies.po"}}
      {{/ifequal}}
      {{#ifequal item.system.acquisition.price.currency "pa"}}
        {{localize "MYRIAD_SYSTEM.Acquisition.currencies.pa"}}
      {{/ifequal}}
      {{#ifequal item.system.acquisition.price.currency "pc"}}
        {{localize "MYRIAD_SYSTEM.Acquisition.currencies.pc"}}
      {{/ifequal}}
    {{/if}}
  </span>
  {{/if}}
</div>
{{/if}}

{{#if expanded}}
<div class="item-description">
  {{{item.system.description}}}
  
  {{#if item.system.benefits}}
  <div class="item-benefits">
    <h4>{{localize "Benefits"}}</h4>
    <ul>
    {{#each item.system.benefits}}
      <li>{{this}}</li>
    {{/each}}
    </ul>
  </div>
  {{/if}}

  {{#if item.system.drawbacks}}
  <div class="item-drawbacks">
    <h4>{{localize "Drawbacks"}}</h4>
    <ul>
    {{#each item.system.drawbacks}}
      <li>{{this}}</li>
    {{/each}}
    </ul>
  </div>
  {{/if}}

  {{#if item.system.constraints}}
  <div class="item-constraints">
    <h4>{{localize "Constraints"}}</h4>
    <ul>
    {{#each item.system.constraints}}
      <li>{{this}}</li>
    {{/each}}
    </ul>
  </div>
  {{/if}}

  {{#if item.system.prerequisites}}
  <div class="item-prerequisites">
    <h4>{{localize "MYRIAD_SYSTEM.Acquisition.prerequisites"}}</h4>
    <ul>
    {{#each item.system.acquisition.prerequisites}}
      <li>{{this}}</li>
    {{/each}}
    </ul>
  </div>
  {{/if}}
</div>
{{/if}}